@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --poppins      : 'Poppins', sans-serif;
    --main-color   : #304351;
    --secound-color: #E8524A;
}

a {
    text-decoration: none;
    color          : #304351 !important;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family: var(--poppins);
}

.navbar {
    box-shadow: -3px 2px 5px 4px rgb(0 0 0 / 6%);
    width     : 100%;
    background: white;
}

.navbar .collapse .navbar-nav a {
    color          : #304351;
    padding        : 9px 16px;
    font-size      : 23px;
    text-decoration: none;
    transition     : all 0.5s ease;
}

.navbar .collapse .navbar-nav a:hover {
    color: #E8524A !important;
}

.navbar .collapse .navbar-nav a.active_menu {
    color: #E8524A !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon i {
    font-size      : 26px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 2px;
}

.navbar .collapse .navbar-nav img {
    width        : 50px;
    height       : 50px;
    object-fit   : cover;
    border-radius: 100%;
    cursor       : pointer;
    margin-left  : 11px;
}

.banner-area {
    background-image: url(../img/home-banner.jpg);
    height          : 555px;
    width           : 100%;
    background-size : cover;
}

.left_c {
    margin: 121px 0px 0px 65px;
}

.left_c h1 {
    font-size  : 58px;
    color      : rgb(255, 255, 255);
    font-weight: bold;
    text-align : left;
    text-shadow: 0px 3px 15px rgb(0 0 0 / 63%);
}

.left_c button {
    padding      : 5px 20px;
    margin-top   : 24px;
    margin-left  : 10px;
    border-radius: 21px;
    border       : none;
    font-size    : 21px;
    font-weight  : 500;
}

.left_c button:nth-child(2) {
    color           : white;
    background-color: #E8524A;
}

.left_c button:nth-child(3) {
    color           : #E8524A;
    background-color: transparent;
}

div#service {
    margin-top: 30px;
}

div#service .container {
    padding: 0px 52px;
}

#service h1 {
    color      : #304351;
    font-weight: 600;
}

.srevices_item {
    background-color: white;
    margin          : 39px 84px;
    border-radius   : 25px;
    box-shadow      : 1px 2px 21px -6px grey;
}

.srevices_item img {
    width     : 100%;
    height    : 140px;
    object-fit: contain;
    padding   : 16px;
}

.s_title {
    width     : 95%;
    margin    : auto;
    text-align: center;
    margin-top: -25px;
}

.s_title p {
    font-size  : 23px;
    font-weight: 500;
    color      : #304351;
}

#service .col-md-4 {
    cursor: pointer;
}

.about.container {
    margin-top: 70px;
}

.about h1 {
    color      : #304351;
    font-weight: 600;
}

.about .a_select {
    width        : 80%;
    margin       : auto;
    text-align   : center;
    margin-bottom: 37px;
    margin-top   : 36px;
}

.about .a_select span {
    font-size    : 23px;
    padding      : 0 100px;
    border-bottom: 2px solid #3043519c;
    margin       : -4px;
    color        : #304351;
    cursor       : pointer;
}

.about .a_select span.active {
    border-bottom: 2px solid #e8524a75;
    color        : #E8524A;
}

.a_right {
    margin-top: 50px;
}

.a_right h1 {
    color: #304351;
}

.a_right ul {
    color: #304351;
}

.a_right button {
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 21px;
    border: none;
    font-size: 21px;
    font-weight: 500;
    color: white;
    background-color: #304351;
    box-shadow: 2px 0px 18px 0px #808080d4;
}

.a_right p {
    margin-top : 22px;
    color      : #304351;
    line-height: 1;
}


.a_left img {
    width : 100%;
    height: auto;
}

.row.item_a.freelancer {
    display: none;
}

.row.item_a.freelancer.active_this {
    display: flex;
}

.protfolio-item {
    height: 520px !important;
}

.trushted h1 {
    color: #304351;
    font-weight: 600;
}

.trushted img {
    width: 100%;
    height: auto;
    margin: auto;
}
.join {
    margin-top: 60px;
}
.join h1 {
    color: #304351;
    font-weight: 600;
    margin-bottom: 25px;
}

.join_main {
    background: white;
    box-shadow: 1px 0px 18px 4px #80808094;
    margin: 15px 68px;
    border-radius: 25px;
    height: auto;
    padding: 19px;
    text-align: center;
}

.join_main h3 {
    font-size: 31px;
    font-weight: 700;
    color: #E8524A;
}

.join_main p {
    font-size: 25px;
    height: 175px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_main button {
    padding: 5px 20px;
    border-radius: 21px;
    border: none;
    font-size: 21px;
    font-weight: 500;
    color: white;
    background-color: #304351;
    box-shadow: 2px 0px 18px 0px #808080d4;
}
footer {
    border-top: 2px solid;
    margin-top: 120px;
}
.footer_menu .row {
    text-align: center;
    color: #304351;
    padding-top: 28px;
}
.footer_menu .row ul {
    text-align: initial;
    list-style: none;
    padding-left: 99px;
    margin-top: 32px;
    font-size: 19px;
}

.footer_menu .row ul.middle {
    padding-left: 117px;
}

.footer_menu .row ul li {
    padding-top: 10px;
    cursor: pointer;
}

.footer_add {
    font-size: 15px;
    margin-top: 45px;
}

@media (max-width:1400px){
    .join_main {
        margin: 15px 20px;
    }
    .srevices_item {
        margin: 39px 56px;
    }
    .footer_menu .row ul {
        padding-left: 73px;
    }
    .footer_menu .row ul.middle {
        padding-left: 88px;
    }
    .footer_menu .row ul {
        padding-left: 73px;
    }
    .footer_menu .row ul.middle {
        padding-left: 88px;
    }
    .protfolio-item {
        height: 454px !important;
    }
}

@media (max-width:1200px){
    .join_main {
        margin: 15px 20px;
    }
    .srevices_item {
        margin: 39px 56px;
    }

    .footer_menu .row ul {
        padding-left: 48px;
    }
    .footer_menu .row ul.middle {
        padding-left: 67px;
    }
    .protfolio-item {
        height: 410px !important;
    }
    .a_right {
        margin-top: 4px;
    }
}
@media (max-width:1000px){
    .srevices_item {
        margin: 39px 18px;
    }
    .s_title p {
        font-size: 18px;
    }
    .about .a_select {
        width: 100%;
    }
    .about .a_select span {
        font-size: 20px;
        padding: 0 64px;
    }
    .join_main {
        margin: 15px 2px;
    }
    .left_c h1 {
        font-size: 53px;
    }
    .protfolio-item {
        height: 368px !important;
    }
    .footer_menu .row ul {
        padding-left: 25px;
        font-size: 16px;
        margin-top: 12px;
    }
    .footer_menu .row ul.middle {
        padding-left: 37px;
    }
    .footer_add {
        font-size: 14px;
        margin-top: 21px;
    }
}

@media (max-width:768px){
    .protfolio-item {
        height: 643px !important;
    }
    .a_right {
        margin-top: 24px;
    }
    .srevices_item img {
        height: 200px;
    }
    .footer_menu .row {
        text-align: inherit;
    }
    .footer_menu .row ul {
        padding-left: 0;
        margin-top: 0;
    }
    .footer_menu .row ul.middle {
        padding-left: 0;
    }
    .left_c {
        margin: 121px 0px 0px 24px;
    }
}
    
@media (max-width:500px){
    .left_c h1 {
        font-size: 38px;
    }
    .left_c button {
        padding: 2px 15px;
        margin-left: -1px;
    }
    .banner-area {
        height: 450px;
    }
    .left_c {
        margin: 95px 0px 0px 24px;
    }
    .about .a_select span {
        font-size: 16px;
        padding: 0 30px;
    }
    .protfolio-item {
        height: 585px !important;
    }
}
