@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --poppins      : "Poppins", sans-serif;
    --main-color   : #304351;
    --secound-color: #E8524A;
}

a {
    text-decoration: none;
    color          : var(--main-color) !important;
}

li {
    list-style: none;
}

* {
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;
}

body {
    font-family     : var(--poppins);
    background-color: rgb(255, 255, 255);
}

main {
    padding-top: 92px;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.06) -3px 2px 5px 4px;
    width     : 100%;
    background: white;
    position  : fixed;
    z-index   : 99999;
}

.navbar .collapse .navbar-nav a {
    color          : var(--main-color);
    padding        : 9px 16px;
    font-size      : 23px;
    text-decoration: none;
    transition     : all 0.5s ease 0s;
}

.navbar .collapse .navbar-nav a:hover {
    color: var(--secound-color) !important;
}

.navbar .collapse .navbar-nav a.active_menu {
    color: var(--secound-color) !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon i {
    font-size      : 26px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 2px;
}

.navbar .collapse .navbar-nav img {
    width        : 50px;
    height       : 50px;
    object-fit   : cover;
    border-radius: 100%;
    cursor       : pointer;
}
.left_menu {
	background-color: rgb(253, 237, 237);
	justify-content: center;
	padding: 70px 0px;
	height: 100vh;
	align-items: center;
	width: 22%;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.pic {
    display        : flex;
    justify-content: center;
}

.left_menu .profile_pic img {
    width           : 100px;
    height          : 100px;
    border-radius   : 100%;
    object-fit      : contain;
    border          : 2px solid gainsboro;
    background-color: rgb(255, 255, 255);
}

.left_menu .profile_pic p {
    padding    : 8px 0px;
    margin     : 0px;
    text-align : center;
    font-size  : 23px;
    font-weight: 700;
}

.l_menu {
    padding-left: 20px;
}

.l_menu ul li {
    padding  : 11px 0px;
    font-size: 22px;
    cursor   : pointer;
}

.l_menu ul li.active_op {
    border-right: 5px solid var(--secound-color);
}

.top_search {
	width: 70%;
	margin: 65px auto auto;
	align-items: center;
	margin-right: 53px;
}

.top_search input {
    width        : 100%;
    padding      : 10px 10px 10px 55px;
    border       : none;
    border-radius: 10px;
    box-shadow   : darkgrey 2px 6px 31px -4px;
    outline      : none;
}

.top_search.d-flex i {
    margin-left: -97%;
    font-size  : 20px;
}
.right_con {
	position: absolute;
	right: 0px;
	overflow-y: scroll;
	height: 100vh;
	width: 79%;
}

#left_menu i.close {
	position: absolute;
	right: 10px;
	font-size: 24px;
	top: 42px;
    display: none;
    cursor: pointer;
}
.top_menu {
    margin: 20px 0px;
}

.top_menu ul li {
	font-size: 19px;
	font-weight: 600;
	padding-right: 10px;
	color: var(--main-color);
	cursor: pointer;
}

.top_menu ul li:nth-child(2) {
    border-left : 2px solid;
    padding-left: 10px;
}

.top_menu ul li.active_tm {
    color: var(--secound-color);
}

.firt_line.d-flex {
    align-items    : center;
    width          : 100%;
    justify-content: space-between;
}

.con_div {
    width: 95%;
    background: rgb(255, 255, 255);
    border-radius: 18px;
    margin: 25px auto auto;
    padding: 16px 23px;
    box-shadow: rgba(169, 169, 169, 0.55) 2px 6px 31px -4px;
}
.title {
    width: 50%;
}

.user_n {
    width: 20%;
}

.details {
    width: 14%;
    color: rgb(134, 128, 128);
}

.title.d-flex {
    color: rgb(107, 104, 104);
}

.details_con {
    width          : 14%;
    justify-content: flex-end;
}

.secound_line.d-flex {
    align-items    : center;
    width          : 100%;
    justify-content: space-between;
    margin         : 7px 0px;
}

.secound_line.d-flex .title {
    width      : 71%;
    align-items: center;
}

.title h2 {
    margin     : auto;
    font-size  : 24px;
    font-weight: 700;
}

.user_n i {
    color: var(--secound-color);
}

.user_n span {
    color : rgb(23, 239, 81);
    cursor: pointer;
}

.details_con.d-flex .cont {
    color: rgb(23, 239, 81);
}

.title.d-flex a {
    color: rgb(6, 118, 255) !important;
}

.details_con.d-flex .cont {
    color: rgb(23, 239, 81);
}

.title.d-flex a {
    color: rgb(6, 118, 255) !important;
}

span.dollar {
    color: var(--secound-color);
}

.details_con.d-flex a i {
    color: rgb(6, 118, 255);
}

.button_sec.d-flex {
    justify-content: flex-end;
}

.button_sec.d-flex button {
    padding      : 3px 9px;
    border-radius: 6px;
    color        : rgb(255, 255, 255);
    border       : none;
}

.button_sec.d-flex button:nth-child(1) {
    background  : var(--main-color);
    margin-right: 10px;
}

.button_sec.d-flex button:nth-child(2) {
    background: var(--secound-color);
}

.con_div:last-child {
    margin-bottom: 20px;
}
.right_con i.bar_show {
	position: absolute;
	left: 72px;
	top: 78px;
	font-size: 22px;
    cursor: pointer;
    display: none;
}
.active_left {
	margin-left: 0px !important;
	z-index: 1;
	width: 35%;
}

@media (max-width:1135px){

}
@media (max-width:990px){
    .title h2 {
        font-size: 22px;
    }
    .title {
        width: 40%;
    }
    .user_n {
        width: 29%;
    }
}
@media (max-width:941px){
    .right_con {
        width: 100%;
    }
    .left_menu {
        margin-left: -222px;

    }
    .right_con i.bar_show{
        display: block;
    }
    #left_menu i.close {
        display: block;
    }
}
@media (max-width:730px){
    .firt_line.d-flex {
        display: block !important;
    }

    .title {
        width: 100%;
    }
    .title h2 {
        font-size: 28px;
    }
    .for_flex {
        display: flex;
        justify-content: inherit;
    }

    .user_n, .details, .details_con.d-flex {
        display: initial !important;
        padding-right: 21px;
    }
    .secound_line.d-flex .title {
        width: 100%;
    }
    .secound_line.d-flex{
        display: block !important;
    }
    .top_search {
        margin-right: 57px;
    }
    
}
@media (max-width:590px){

    .con_div span , a{
        font-size: 16px;
    }
    .top_search input {
        padding: 4px 5px 4px 37px;
    }
    .top_search.d-flex i {
        font-size: 16px;
    }
    .top_search {
        margin: 73px auto auto auto;
        margin-right: 37px;
 
    }
    
    .l_menu {
        padding-left: 0px;
    }
    .l_menu ul li {
        padding: 7px 0px;
        font-size: 19px;
    }
    .top_search input {
        font-size: 12px;
    }
    .top_search.d-flex i {
        font-size: 13px;
    }
}
@media (max-width:530px){

    .con_div span, a {
        font-size: 13px;
    }
    .user_n, .details, .details_con.d-flex {
        display: initial !important;
        padding-right: 10px;
    }
    .navbar .collapse .navbar-nav img {
        margin-left: 12px;
    }
}
@media (max-width:450px){

    .con_div span, a {
        font-size: 12px;
    }

}

@media (max-width:400px){

    .con_div span, a {
        font-size: 13px;
    }

    .user_n, .details, .details_con.d-flex {
        display: initial !important;
        padding-right: 5px;
    }

    .top_search {
        margin-right: 11px;
    }

    .top_search input {
        padding: 6px 5px 6px 25px;
    }

}
@media (max-width:370px){

    .right_con i.bar_show {
      left: 58px;
    }

    .top_search {
        margin-right: 11px;
        margin-left: 66px;
        width: 75%;
    }
    .title h2 {
        font-size: 18px;
    }
    .con_div span, a {
        font-size: 10px;
    }
    .button_sec.d-flex button {
        font-size: 11px;
    }
    .active_left {
        width: 75%;
    }
    .top_search {
        margin: 45px 12px auto auto;
    }
    .right_con i.bar_show {
        top: 49px;
    }

}