@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --poppins      : "Poppins", sans-serif;
    --main-color   : #304351;
    --secound-color: #E8524A;
}

a {
    text-decoration: none;
    color          : var(--main-color) !important;
}

li {
    list-style: none;
}

* {
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;
}

body {
    font-family     : var(--poppins);
    background-color: rgb(255, 255, 255);
}

main {
    padding-top: 92px;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.06) -3px 2px 5px 4px;
    width     : 100%;
    background: white;
    position  : fixed;
    z-index   : 99999;
}

.navbar .collapse .navbar-nav a {
    color          : var(--main-color);
    padding        : 9px 16px;
    font-size      : 23px;
    text-decoration: none;
    transition     : all 0.5s ease 0s;
}

.navbar .collapse .navbar-nav a:hover {
    color: var(--secound-color) !important;
}

.navbar .collapse .navbar-nav a.active_menu {
    color: var(--secound-color) !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon i {
    font-size      : 26px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 2px;
}

.navbar .collapse .navbar-nav img {
    width        : 50px;
    height       : 50px;
    object-fit   : cover;
    border-radius: 100%;
    cursor       : pointer;
}

.left_menu {
    background-color: rgb(253, 237, 237);
    justify-content : center;
    padding         : 70px 0px;
    height          : 673px;
    align-items     : center;
}

.pic {
    display        : flex;
    justify-content: center;
}

.left_menu .profile_pic img {
    width           : 100px;
    height          : 100px;
    border-radius   : 100%;
    object-fit      : contain;
    border          : 2px solid gainsboro;
    background-color: rgb(255, 255, 255);
}

.left_menu .profile_pic p {
    padding    : 8px 0px;
    margin     : 0px;
    text-align : center;
    font-size  : 23px;
    font-weight: 700;
}

.l_menu {
    padding-left: 20px;
}

.l_menu ul li {
    padding  : 11px 0px;
    font-size: 22px;
    cursor   : pointer;
}

.l_menu ul li.active_op {
    border-right: 5px solid var(--secound-color);
}

.top_search {
    width      : 70%;
    margin     : 65px auto auto;
    align-items: center;
}

.top_search input {
    width        : 100%;
    padding      : 10px 10px 10px 55px;
    border       : none;
    border-radius: 10px;
    box-shadow   : darkgrey 2px 6px 31px -4px;
    outline      : none;
}

.top_search.d-flex i {
    margin-left: -97%;
    font-size  : 20px;
}

.col-md-9.right_con {
    position  : absolute;
    right     : 0px;
    overflow-y: scroll;
    height    : 670px;
}

.top_menu {
    margin: 20px 0px;
}

.top_menu ul li {
    font-size    : 19px;
    font-weight  : 600;
    padding-right: 10px;
    color        : var(--main-color);
}

.top_menu ul li:nth-child(2) {
    border-left : 2px solid;
    padding-left: 10px;
}

.top_menu ul li.active_tm {
    color: var(--secound-color);
}

.firt_line.d-flex {
    align-items    : center;
    width          : 100%;
    justify-content: space-between;
}

.con_div {
    width        : 95%;
    height       : 183px;
    background   : rgb(255, 255, 255);
    border-radius: 18px;
    margin       : 25px auto auto;
    padding      : 16px 23px;
    box-shadow   : rgba(169, 169, 169, 0.55) 2px 6px 31px -4px;
}

.title {
    width: 50%;
}

.user_n {
    width: 20%;
}

.details {
    width: 14%;
    color: rgb(134, 128, 128);
}

.title.d-flex {
    color: rgb(107, 104, 104);
}

.details_con {
    width          : 14%;
    justify-content: flex-end;
}

.secound_line.d-flex {
    align-items    : center;
    width          : 100%;
    justify-content: space-between;
    margin         : 7px 0px;
}

.secound_line.d-flex .title {
    width      : 71%;
    align-items: center;
}

.title h2 {
    margin     : auto;
    font-size  : 24px;
    font-weight: 700;
}

.user_n i {
    color: var(--secound-color);
}

.user_n span {
    color : rgb(23, 239, 81);
    cursor: pointer;
}

.details_con.d-flex .cont {
    color: rgb(23, 239, 81);
}

.title.d-flex a {
    color: rgb(6, 118, 255) !important;
}

.details_con.d-flex .cont {
    color: rgb(23, 239, 81);
}

.title.d-flex a {
    color: rgb(6, 118, 255) !important;
}

span.dollar {
    color: var(--secound-color);
}

.details_con.d-flex a i {
    color: rgb(6, 118, 255);
}

.button_sec.d-flex {
    justify-content: flex-end;
}

.button_sec.d-flex button {
    padding      : 3px 9px;
    border-radius: 6px;
    color        : rgb(255, 255, 255);
    border       : none;
}

.button_sec.d-flex button:nth-child(1) {
    background  : var(--main-color);
    margin-right: 10px;
}

.button_sec.d-flex button:nth-child(2) {
    background: var(--secound-color);
}

.con_div:last-child {
    margin-bottom: 20px;
}